@model IEnumerable<Aprender.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Calificaciones</h1>

@if (User.IsInRole("Estudiante")!)
{
   <p>
       <a asp-action="Create">Cargar calificación</a>
   </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen)
            </th>
            @if (User.IsInRole("Estudiante")!)
            {
                <th></th>
            }            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Examen.Id)
            </td>
            @if (User.IsInRole("Estudiante")!)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
