@model IEnumerable<Aprender.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Calificaciones</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Secretario") || User.IsInRole("Profesor"))
{
   <p>
       <a asp-action="Create">Cargar</a>
   </p> 
}

<table id="table" class="table table-hover table-borderless table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Examen.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>            
            @if (User.IsInRole("Admin") || User.IsInRole("Secretario") || User.IsInRole("Profesor"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Examen.Curso.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Examen.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Apellido), 
                @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
            </td>            
                @if (User.IsInRole("Admin") || User.IsInRole("Secretario") || User.IsInRole("Profesor"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
