@model Aprender.Models.Comunicacion

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>

<div>
    <h4>Comunicación</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apellido), 
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
