@model IEnumerable<Aprender.Models.Progreso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inscripción a cursos</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Secretario") || User.IsInRole("Profesor"))
{
    <p>
        <a asp-action="Create">Cargar</a>
    </p>
}
<table id="table" class="table table-hover table-borderless table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Secretario") || User.IsInRole("Profesor")){
                <th></th>
            }            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    (@Html.DisplayFor(modelItem => item.Estudiante.Dni))
                @Html.DisplayFor(modelItem => item.Estudiante.Apellido), 
                    @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nombre)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Secretario") || User.IsInRole("Profesor"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                }                
            </td>
        </tr>
}
    </tbody>
</table>
